CREATE DATABASE ElectronicStore
USE [ElectronicStore]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2024/06/25 11:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 2024/06/25 11:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ProductCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2024/06/25 11:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[Alias] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[SrcImage] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2024/06/25 11:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[RoleType] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([ProductCategoryId], [CategoryName], [CreatedDate], [UpdatedDate]) VALUES (1, N'LapTop', CAST(N'2024-06-25T10:01:44.423' AS DateTime), CAST(N'2024-06-25T10:50:29.990' AS DateTime))
INSERT [dbo].[ProductCategories] ([ProductCategoryId], [CategoryName], [CreatedDate], [UpdatedDate]) VALUES (2, N'Điện thoại', CAST(N'2024-06-25T11:34:50.710' AS DateTime), CAST(N'2024-06-25T11:34:50.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Alias], [Description], [SrcImage], [Price], [ProductCategoryId], [CreatedDate], [UpdatedDate]) VALUES (3, N'LapTop 01', N'demo', N'gggggggggggggg', N'220240625104908957.jpg', CAST(200000.00 AS Decimal(18, 2)), 1, CAST(N'2024-06-25T10:30:02.987' AS DateTime), CAST(N'2024-06-25T11:31:02.937' AS DateTime))
INSERT [dbo].[Products] ([ProductId], [ProductName], [Alias], [Description], [SrcImage], [Price], [ProductCategoryId], [CreatedDate], [UpdatedDate]) VALUES (4, N'LapTop 02', N'laptop-02', N'LapTop 02', N'120240625113127561.jpg', CAST(300000.00 AS Decimal(18, 2)), 1, CAST(N'2024-06-25T11:31:27.563' AS DateTime), CAST(N'2024-06-25T11:31:27.563' AS DateTime))
INSERT [dbo].[Products] ([ProductId], [ProductName], [Alias], [Description], [SrcImage], [Price], [ProductCategoryId], [CreatedDate], [UpdatedDate]) VALUES (5, N'Điện thoại Test', N'dien-thoai-01', N'Điện thoại Test 333333333333333333333', N'920240625113524148.jpg', CAST(400000.00 AS Decimal(18, 2)), 2, CAST(N'2024-06-25T11:35:24.150' AS DateTime), CAST(N'2024-06-25T11:35:55.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [Password], [FullName], [RoleType], [CreatedDate], [UpdatedDate]) VALUES (1, N'admin', N'admin@gmail.com', N'$2a$11$Kk/hXiR2j0gXQue/slGEQOzWYC3fcJmamNuEdCz10lGvUcWRweoT.', N'admin', 3, CAST(N'2024-06-25T11:27:45.537' AS DateTime), CAST(N'2024-06-25T11:27:45.537' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [Email], [Password], [FullName], [RoleType], [CreatedDate], [UpdatedDate]) VALUES (2, N'demo', N'demo1@gmail.com', N'$2a$11$B06asnvO3k53N09I/JwRlO8jQTaK4B8O4hxaWeJs4M3dvxjTcu4Ey', N'demo', 0, CAST(N'2024-06-25T11:33:56.153' AS DateTime), CAST(N'2024-06-25T11:33:56.153' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_ProductCategoryId] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategories] ([ProductCategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_ProductCategoryId]
GO
