@model IEnumerable<WebMVC.Models.Product>

@foreach (var item in Model)
{
    <div class=" col-md-12 col-sm-6 col-xs-6">
        
        <div class="thumbnail product-box">
            <img src="@Url.Content("~/Images/" + item.SrcImage)" class="thumbnail img-circle mt shop-logo" />
            <div class="caption">
                <h3><a href="#">@item.ProductName </a></h3>
                <p><a href="@Url.Action("Detail", "Product", new { id = item.ProductId, alias = item.Alias })">Chi tiết </a></p>
            </div>
        </div>
    </div>
    
}
